In [1]:
import pandas as pd
df = pd.read_csv('Sales Data.csv')
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [2]:
# How to convert a column to a different data type (e.g., from string to datetime)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [3]:
# How to extract the year from a datetime column?
df['year'] = df['Order Date'].dt.year
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,2019
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,2019
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,2019

In [4]:
# How to extract the month from a datetime column?
df['month'] = df['Order Date'].dt.month
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,2019,6
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,2019,6
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,2019,6

In [11]:
# How to extract the day from a datetime column?
df['day'] = df['Order Date'].dt.day
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,hour,minute,second,day
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,0,1,0,30
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,7,3,0,29
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,18,21,0,12
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,15,13,0,22
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,12,38,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,2019,6,19,2,0,7
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,2019,6,19,29,0,1
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,57,0,22
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,35,0,26
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,2019,6,14,33,0,25

In [37]:
# How to extract the hour from a datetime column?
df['hour'] = df['Order Date'].dt.hour
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,hour,minute,second,day
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,0,1,0,30
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,7,3,0,29
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,18,21,0,12
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,15,13,0,22
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,12,38,0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,2019,6,19,2,0,7
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,2019,6,19,29,0,1
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,57,0,22
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,35,0,26
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,2019,6,14,33,0,25

In [6]:
# How to extract the minute from a datetime column?
df['minute'] = df['Order Date'].dt.minute
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,hour,minute
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,0,1
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,7,3
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,18,21
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,15,13
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,12,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,2019,6,19,2
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,2019,6,19,29
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,57
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,35
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,2019,6,14,33

In [7]:
# How to extract the second from a datetime column?
df['second'] = df['Order Date'].dt.second
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,hour,minute,second
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,0,1,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,7,3,0
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,18,21,0
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,15,13,0
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,12,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,2019,6,19,2,0
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,2019,6,19,29,0
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,57,0
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,2019,6,18,35,0
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,2019,6,14,33,0

In [8]:
# How to calculate the total sales for each month?
sales_per_month = df.groupby('Month')['Sales'].sum()
sales_per_month

Month
1     1822256.73
2     2202022.42
3     2807100.38
4     3390670.24
5     3152606.75
6     2577802.26
7     2647775.76
8     2244467.88
9     2097560.13
10    3736726.88
11    3199603.20
12    4613443.34
Name: Sales, dtype: float64

In [9]:
# How to calculate the total sales for each city?
sales_city = df.groupby('City')['Sales'].sum()
sales_city

City
 Atlanta          2795498.58
 Austin           1819581.75
 Boston           3661642.01
 Dallas           2767975.40
 Los Angeles      5452570.80
 New York City    4664317.43
 Portland         2320490.61
 San Francisco    8262203.91
 Seattle          2747755.48
Name: Sales, dtype: float64

In [12]:
# How to calculate the total sales for each hour of the day?
sales_per_hour_in_day = df.groupby(['day','hour'])['Sales'].sum()
sales_per_hour_in_day

day  hour
1    0       17496.29
     1       17032.90
     2        9003.60
     3        4862.35
     4        2715.55
               ...
31   19      61018.83
     20      39298.83
     21      33166.15
     22      36669.05
     23      14983.59
Name: Sales, Length: 744, dtype: float64

In [14]:
# How to calculate the average quantity ordered for each product?
avg_sales_per_product = df.groupby('Product')['Sales'].mean()
avg_sales_per_product

Product
20in Monitor                   110.740968
27in 4K Gaming Monitor         390.866382
27in FHD Monitor               150.849141
34in Ultrawide Monitor         381.096588
AA Batteries (4-pack)            5.157137
AAA Batteries (4-pack)           4.493040
Apple Airpods Headphones       151.080455
Bose SoundSport Headphones     100.980520
Flatscreen TV                  301.187500
Google Phone                   600.760181
LG Dryer                       600.000000
LG Washing Machine             600.000000
Lightning Charging Cable        16.026140
Macbook Pro Laptop            1701.439458
ThinkPad Laptop               1000.474491
USB-C Charging Cable            13.080457
Vareebadd Phone                400.581114
Wired Headphones                13.053619
iPhone                         700.716165
Name: Sales, dtype: float64

In [15]:
# How to calculate the total quantity ordered for each product?
total_quantity_orderd = df.groupby('Product')['Quantity Ordered'].sum()
total_quantity_orderd

Product
20in Monitor                   4129
27in 4K Gaming Monitor         6244
27in FHD Monitor               7550
34in Ultrawide Monitor         6199
AA Batteries (4-pack)         27635
AAA Batteries (4-pack)        31017
Apple Airpods Headphones      15661
Bose SoundSport Headphones    13457
Flatscreen TV                  4819
Google Phone                   5532
LG Dryer                        646
LG Washing Machine              666
Lightning Charging Cable      23217
Macbook Pro Laptop             4728
ThinkPad Laptop                4130
USB-C Charging Cable          23975
Vareebadd Phone                2068
Wired Headphones              20557
iPhone                         6849
Name: Quantity Ordered, dtype: int64

In [19]:
# How to find the product that has the highest price each?
max_price_for_each_product = df.groupby('Product')['Price Each'].max()
max_price_for_each_product

'Macbook Pro Laptop'

In [17]:
# How to find the product that has the lowest price each?
min_price_for_each_product = df.groupby('Product')['Price Each'].min()
min_price_for_each_product

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64

In [20]:
# How to calculate the average price for each product?
avg_price_for_each_product = df.groupby('Product')['Sales'].mean()
avg_price_for_each_product

Product
20in Monitor                   110.740968
27in 4K Gaming Monitor         390.866382
27in FHD Monitor               150.849141
34in Ultrawide Monitor         381.096588
AA Batteries (4-pack)            5.157137
AAA Batteries (4-pack)           4.493040
Apple Airpods Headphones       151.080455
Bose SoundSport Headphones     100.980520
Flatscreen TV                  301.187500
Google Phone                   600.760181
LG Dryer                       600.000000
LG Washing Machine             600.000000
Lightning Charging Cable        16.026140
Macbook Pro Laptop            1701.439458
ThinkPad Laptop               1000.474491
USB-C Charging Cable            13.080457
Vareebadd Phone                400.581114
Wired Headphones                13.053619
iPhone                         700.716165
Name: Sales, dtype: float64

In [23]:
# How to calculate the total number of orders for each month?
total_number_of_orders_per_month = df.groupby(['Month','Product'])['Quantity Ordered'].sum()
total_number_of_orders_per_month

Month  Product
1      20in Monitor               218
       27in 4K Gaming Monitor     313
       27in FHD Monitor           422
       34in Ultrawide Monitor     314
       AA Batteries (4-pack)     1424
                                 ...
12     ThinkPad Laptop            539
       USB-C Charging Cable      3250
       Vareebadd Phone            284
       Wired Headphones          2749
       iPhone                     906
Name: Quantity Ordered, Length: 228, dtype: int64

In [25]:
# How to calculate the average price for each city?
avg_price_for_each_city = df.groupby('City')['Sales'].mean()
avg_price_for_each_city

City
 Atlanta          187.856903
 Austin           183.703357
 Boston           183.688272
 Dallas           186.772969
 Los Angeles      184.177362
 New York City    187.502711
 Portland         186.160498
 San Francisco    184.704550
 Seattle          186.516120
Name: Sales, dtype: float64

In [26]:
# How to calculate the average quantity ordered for each city?
avg_quantity_ordered_for_each_city = df.groupby('City')['Quantity Ordered'].mean()
avg_quantity_ordered_for_each_city

City
 Atlanta          1.115651
 Austin           1.125997
 Boston           1.130129
 Dallas           1.128880
 Los Angeles      1.124438
 New York City    1.122849
 Portland         1.127397
 San Francisco    1.123111
 Seattle          1.123608
Name: Quantity Ordered, dtype: float64

In [27]:
# How to calculate the total sales for each hour of the day in a specific city?
total_sales_for_each_hour = df.groupby(['City' ,'day','hour'])['Sales'].sum()
total_sales_for_each_hour

City      day  hour
 Atlanta  1    0        510.94
               1        667.96
               2        103.83
               3        149.99
               4         29.90
                        ...
 Seattle  31   19      3728.22
               20      5389.81
               21      4357.20
               22      7054.46
               23       292.68
Name: Sales, Length: 6599, dtype: float64

In [30]:
# How to calculate the total sales for each month in a specific city?
total_sales_for_each_month = df.groupby(['City' , 'Month'])['Sales'].sum()
total_sales_for_each_month

City      Month
 Atlanta  1        149159.54
          2        176470.30
          3        231905.38
          4        284448.91
          5        238853.99
                     ...
 Seattle  8        189715.09
          9        156369.27
          10       316856.26
          11       252080.13
          12       387317.93
Name: Sales, Length: 108, dtype: float64

In [31]:
# How to calculate the total sales for each product in a specific city?
total_sales_for_each_product = df.groupby(['City' , 'Product'])['Sales'].sum()
total_sales_for_each_product

City      Product
 Atlanta  20in Monitor               37616.58
          27in 4K Gaming Monitor    192265.07
          27in FHD Monitor           88194.12
          34in Ultrawide Monitor    183155.18
          AA Batteries (4-pack)       8421.12
                                      ...
 Seattle  ThinkPad Laptop           332996.67
          USB-C Charging Cable       22334.55
          Vareebadd Phone            71600.00
          Wired Headphones           19807.48
          iPhone                    382200.00
Name: Sales, Length: 171, dtype: float64

In [33]:
# How to calculate the total sales for each product in each month?
total_sales_of_each_product_in_each_month = df.groupby(['Month' , "Product"])['Sales'].sum()
total_sales_of_each_product_in_each_month

Month  Product
1      20in Monitor               23977.82
       27in 4K Gaming Monitor    122066.87
       27in FHD Monitor           63295.78
       34in Ultrawide Monitor    119316.86
       AA Batteries (4-pack)       5468.16
                                   ...
12     ThinkPad Laptop           538994.61
       USB-C Charging Cable       38837.50
       Vareebadd Phone           113600.00
       Wired Headphones           32960.51
       iPhone                    634200.00
Name: Sales, Length: 228, dtype: float64

In [34]:
# How to calculate the total sales for each hour of the day in each month?
total_sales_in_each_hour = df.groupby(['Month' ,'day' , 'hour'])['Sales'].sum()
total_sales_in_each_hour

Month  day  hour
1      1    0        2660.68
            1        2304.91
            2        2264.94
            3        1083.84
            4         414.92
                      ...
12     31   19      10885.91
            20      10320.96
            21       6800.46
            22      11030.15
            23       1862.13
Name: Sales, Length: 8630, dtype: float64

In [36]:
# How to calculate the total sales for each product in each hour of the day?
total_sales_for_each_product_per_hour = df.groupby(['day' , 'hour' ,'Product'])['Sales'].sum()
total_sales_for_each_product_per_hour

day  hour  Product
1    0     20in Monitor               659.94
           27in 4K Gaming Monitor    1559.96
           27in FHD Monitor           749.95
           34in Ultrawide Monitor    1139.97
           AA Batteries (4-pack)       46.08
                                      ...
31   23    Macbook Pro Laptop        1700.00
           USB-C Charging Cable       107.55
           Vareebadd Phone           1600.00
           Wired Headphones           143.88
           iPhone                    2100.00
Name: Sales, Length: 12747, dtype: float64