In [2]:
import pandas as pd
df = pd.read_csv('Sales Data.csv')
df = df.head(1000)
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23

In [3]:
# How to convert a column to a different data type (e.g., from string to datetime)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23

In [4]:
# How to extract the year from a datetime column?
df['year'] = df['Order Date'].dt.year
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15,2019
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12,2019
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19,2019
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10,2019
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23,2019

In [5]:
# How to extract the month from a datetime column?
df['month'] = df['Order Date'].dt.month
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15,2019,12
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12,2019,12
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19,2019,12
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10,2019,12
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23,2019,12

In [6]:
# How to extract the day from a datetime column?
df['day'] = df['Order Date'].dt.day
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,day
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,30
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,29
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,12
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,22
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15,2019,12,29
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12,2019,12,11
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19,2019,12,23
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10,2019,12,16
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23,2019,12,18

In [7]:
# How to extract the hour from a datetime column?
df['hour'] = df['Order Date'].dt.hour
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,day,hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,30,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,29,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,12,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,22,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,18,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15,2019,12,29,15
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12,2019,12,11,12
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19,2019,12,23,19
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10,2019,12,16,10
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23,2019,12,18,23

In [8]:
# How to extract the minute from a datetime column?
df['minute'] = df['Order Date'].dt.minute
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,day,hour,minute
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,30,0,1
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,29,7,3
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,12,18,21
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,22,15,13
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,18,12,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15,2019,12,29,15,13
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12,2019,12,11,12,46
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19,2019,12,23,19,2
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10,2019,12,16,10,39
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23,2019,12,18,23,48

In [9]:
# How to extract the second from a datetime column?
df['second'] = df['Order Date'].dt.second
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,year,month,day,hour,minute,second
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,2019,12,30,0,1,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,2019,12,29,7,3,0
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,2019,12,12,18,21,0
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,2019,12,22,15,13,0
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,2019,12,18,12,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1000,296618,Wired Headphones,1,11.99,2019-12-29 15:13:00,"678 Hickory St, New York City, NY 10001",12,11.99,New York City,15,2019,12,29,15,13,0
996,1001,296619,27in 4K Gaming Monitor,1,389.99,2019-12-11 12:46:00,"543 4th St, Dallas, TX 75001",12,389.99,Dallas,12,2019,12,11,12,46,0
997,1002,296620,iPhone,1,700.00,2019-12-23 19:02:00,"139 Cedar St, Seattle, WA 98101",12,700.00,Seattle,19,2019,12,23,19,2,0
998,1003,296621,AAA Batteries (4-pack),1,2.99,2019-12-16 10:39:00,"412 Sunset St, Seattle, WA 98101",12,2.99,Seattle,10,2019,12,16,10,39,0
999,1004,296622,iPhone,1,700.00,2019-12-18 23:48:00,"537 Sunset St, Dallas, TX 75001",12,700.00,Dallas,23,2019,12,18,23,48,0

In [10]:
# How to calculate the total sales for each month?
sales_per_month = df.groupby('Month')['Sales'].sum()
sales_per_month

Month
12    174098.98
Name: Sales, dtype: float64

In [11]:
# How to calculate the total sales for each city?
sales_city = df.groupby('City')['Sales'].sum()
sales_city

City
 Atlanta          11597.89
 Austin            9011.97
 Boston           25326.15
 Dallas           13829.52
 Los Angeles      24759.02
 New York City    22175.04
 Portland         12189.29
 San Francisco    42346.54
 Seattle          12863.56
Name: Sales, dtype: float64

In [12]:
# How to calculate the total sales for each hour of the day?
sales_per_hour_in_day = df.groupby(['day','hour'])['Sales'].sum()
sales_per_hour_in_day

day  hour
1    4        150.00
     8         14.95
     9          2.99
     10      1106.89
     11      3000.00
              ...
31   18      1700.00
     20       389.99
     21        11.99
     22         3.84
     23       389.99
Name: Sales, Length: 472, dtype: float64

In [13]:
# How to calculate the average quantity ordered for each product?
avg_sales_per_product = df.groupby('Product')['Sales'].mean()
avg_sales_per_product

Product
20in Monitor                   109.990000
27in 4K Gaming Monitor         389.990000
27in FHD Monitor               149.990000
34in Ultrawide Monitor         379.990000
AA Batteries (4-pack)            5.742385
AAA Batteries (4-pack)           4.729082
Apple Airpods Headphones       150.000000
Bose SoundSport Headphones      99.990000
Flatscreen TV                  300.000000
Google Phone                   600.000000
LG Dryer                       600.000000
LG Washing Machine             600.000000
Lightning Charging Cable        15.552823
Macbook Pro Laptop            1700.000000
ThinkPad Laptop                999.990000
USB-C Charging Cable            13.059643
Vareebadd Phone                400.000000
Wired Headphones                13.080000
iPhone                         700.000000
Name: Sales, dtype: float64

In [14]:
# How to calculate the total quantity ordered for each product?
total_quantity_orderd = df.groupby('Product')['Quantity Ordered'].sum()
total_quantity_orderd

Product
20in Monitor                   16
27in 4K Gaming Monitor         35
27in FHD Monitor               42
34in Ultrawide Monitor         35
AA Batteries (4-pack)         163
AAA Batteries (4-pack)        155
Apple Airpods Headphones       83
Bose SoundSport Headphones     72
Flatscreen TV                  21
Google Phone                   33
LG Dryer                        3
LG Washing Machine              3
Lightning Charging Cable      129
Macbook Pro Laptop             20
ThinkPad Laptop                21
USB-C Charging Cable          153
Vareebadd Phone                12
Wired Headphones              108
iPhone                         34
Name: Quantity Ordered, dtype: int64

In [15]:
# How to find the product that has the highest price each?
max_price_for_each_product = df.groupby('Product')['Price Each'].max()
max_price_for_each_product

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64

In [16]:
# How to find the product that has the lowest price each?
min_price_for_each_product = df.groupby('Product')['Price Each'].min()
min_price_for_each_product

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64

In [17]:
# How to calculate the average price for each product?
avg_price_for_each_product = df.groupby('Product')['Sales'].mean()
avg_price_for_each_product

Product
20in Monitor                   109.990000
27in 4K Gaming Monitor         389.990000
27in FHD Monitor               149.990000
34in Ultrawide Monitor         379.990000
AA Batteries (4-pack)            5.742385
AAA Batteries (4-pack)           4.729082
Apple Airpods Headphones       150.000000
Bose SoundSport Headphones      99.990000
Flatscreen TV                  300.000000
Google Phone                   600.000000
LG Dryer                       600.000000
LG Washing Machine             600.000000
Lightning Charging Cable        15.552823
Macbook Pro Laptop            1700.000000
ThinkPad Laptop                999.990000
USB-C Charging Cable            13.059643
Vareebadd Phone                400.000000
Wired Headphones                13.080000
iPhone                         700.000000
Name: Sales, dtype: float64

In [18]:
# How to calculate the total number of orders for each month?
total_number_of_orders_per_month = df.groupby(['Month','Product'])['Quantity Ordered'].sum()
total_number_of_orders_per_month

Month  Product
12     20in Monitor                   16
       27in 4K Gaming Monitor         35
       27in FHD Monitor               42
       34in Ultrawide Monitor         35
       AA Batteries (4-pack)         163
       AAA Batteries (4-pack)        155
       Apple Airpods Headphones       83
       Bose SoundSport Headphones     72
       Flatscreen TV                  21
       Google Phone                   33
       LG Dryer                        3
       LG Washing Machine              3
       Lightning Charging Cable      129
       Macbook Pro Laptop             20
       ThinkPad Laptop                21
       USB-C Charging Cable          153
       Vareebadd Phone                12
       Wired Headphones              108
       iPhone                         34
Name: Quantity Ordered, dtype: int64

In [19]:
# How to calculate the average price for each city?
avg_price_for_each_city = df.groupby('City')['Sales'].mean()
avg_price_for_each_city

City
 Atlanta          133.309080
 Austin           138.645692
 Boston           209.307025
 Dallas           194.781972
 Los Angeles      171.937639
 New York City    153.993333
 Portland         169.295694
 San Francisco    184.115391
 Seattle          194.902424
Name: Sales, dtype: float64

In [20]:
# How to calculate the average quantity ordered for each city?
avg_quantity_ordered_for_each_city = df.groupby('City')['Quantity Ordered'].mean()
avg_quantity_ordered_for_each_city

City
 Atlanta          1.103448
 Austin           1.169231
 Boston           1.099174
 Dallas           1.211268
 Los Angeles      1.180556
 New York City    1.097222
 Portland         1.152778
 San Francisco    1.143478
 Seattle          1.106061
Name: Quantity Ordered, dtype: float64

In [21]:
# How to calculate the total sales for each hour of the day in a specific city?
total_sales_for_each_hour = df.groupby(['City' ,'day','hour'])['Sales'].sum()
total_sales_for_each_hour

City      day  hour
 Atlanta  1    10        14.95
               14       389.99
               15        11.99
               22         2.99
          2    11        14.95
                        ...
 Seattle  29   21        11.99
          30   18        11.99
          31   12        99.99
               13        11.95
               18      1700.00
Name: Sales, Length: 865, dtype: float64

In [22]:
# How to calculate the total sales for each month in a specific city?
total_sales_for_each_month = df.groupby(['City' , 'Month'])['Sales'].sum()
total_sales_for_each_month

City            Month
 Atlanta        12       11597.89
 Austin         12        9011.97
 Boston         12       25326.15
 Dallas         12       13829.52
 Los Angeles    12       24759.02
 New York City  12       22175.04
 Portland       12       12189.29
 San Francisco  12       42346.54
 Seattle        12       12863.56
Name: Sales, dtype: float64

In [23]:
# How to calculate the total sales for each product in a specific city?
total_sales_for_each_product = df.groupby(['City' , 'Product'])['Sales'].sum()
total_sales_for_each_product

City      Product
 Atlanta  27in 4K Gaming Monitor     779.98
          27in FHD Monitor           449.97
          34in Ultrawide Monitor    1139.97
          AA Batteries (4-pack)       30.72
          AAA Batteries (4-pack)      53.82
                                     ...
 Seattle  Macbook Pro Laptop        3400.00
          ThinkPad Laptop            999.99
          USB-C Charging Cable       119.50
          Wired Headphones            95.92
          iPhone                    2100.00
Name: Sales, Length: 145, dtype: float64

In [24]:
# How to calculate the total sales for each product in each month?
total_sales_of_each_product_in_each_month = df.groupby(['Month' , "Product"])['Sales'].sum()
total_sales_of_each_product_in_each_month

Month  Product
12     20in Monitor                   1759.84
       27in 4K Gaming Monitor        13649.65
       27in FHD Monitor               6299.58
       34in Ultrawide Monitor        13299.65
       AA Batteries (4-pack)           625.92
       AAA Batteries (4-pack)          463.45
       Apple Airpods Headphones      12450.00
       Bose SoundSport Headphones     7199.28
       Flatscreen TV                  6300.00
       Google Phone                  19800.00
       LG Dryer                       1800.00
       LG Washing Machine             1800.00
       Lightning Charging Cable       1928.55
       Macbook Pro Laptop            34000.00
       ThinkPad Laptop               20999.79
       USB-C Charging Cable           1828.35
       Vareebadd Phone                4800.00
       Wired Headphones               1294.92
       iPhone                        23800.00
Name: Sales, dtype: float64

In [25]:
# How to calculate the total sales for each hour of the day in each month?
total_sales_in_each_hour = df.groupby(['Month' ,'day' , 'hour'])['Sales'].sum()
total_sales_in_each_hour

Month  day  hour
12     1    4        150.00
            8         14.95
            9          2.99
            10      1106.89
            11      3000.00
                     ...
       31   18      1700.00
            20       389.99
            21        11.99
            22         3.84
            23       389.99
Name: Sales, Length: 472, dtype: float64

In [26]:
# How to calculate the total sales for each product in each hour of the day?
total_sales_for_each_product_per_hour = df.groupby(['day' , 'hour' ,'Product'])['Sales'].sum()
total_sales_for_each_product_per_hour

day  hour  Product
1    4     Apple Airpods Headphones     150.00
     8     Lightning Charging Cable      14.95
     9     AAA Batteries (4-pack)         2.99
     10    34in Ultrawide Monitor       379.99
           Lightning Charging Cable      14.95
                                        ...
31   18    Macbook Pro Laptop          1700.00
     20    27in 4K Gaming Monitor       389.99
     21    Wired Headphones              11.99
     22    AA Batteries (4-pack)          3.84
     23    27in 4K Gaming Monitor       389.99
Name: Sales, Length: 931, dtype: float64