In [2]:
import pandas as pd
df = pd.read_csv('Sales Data.csv')
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [23]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [24]:
df['hour'] = df['Order Date'].dt.hour
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,14

In [90]:
df['year'] = df['Order Date'].dt.year
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,hour,tsbep,day,year
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,0,NaN,30,2019
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,7,NaN,29,2019
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,18,NaN,12,2019
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,15,NaN,22,2019
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,12,NaN,18,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,19,NaN,7,2019
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,19,NaN,1,2019
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,18,NaN,22,2019
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,18,NaN,26,2019
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,14,NaN,25,2019

In [91]:
df['day'] = df['Order Date'].dt.day
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,hour,tsbep,day,year
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,0,NaN,30,2019
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,7,NaN,29,2019
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,18,NaN,12,2019
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,15,NaN,22,2019
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,12,NaN,18,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,19,NaN,7,2019
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19,19,NaN,1,2019
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,18,NaN,22,2019
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,18,NaN,26,2019
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,14,NaN,25,2019

In [16]:
# How to find the top 5 products by total sales?
top_5_product = df.groupby('Product')['Sales'].sum()
top_5_product.sort_values(ascending=False).head(5)

Product
Macbook Pro Laptop        8037600.00
iPhone                    4794300.00
ThinkPad Laptop           4129958.70
Google Phone              3319200.00
27in 4K Gaming Monitor    2435097.56
Name: Sales, dtype: float64

In [18]:
# How to find the top 5 cities by total sales?
top_5_cities = df.groupby('City')['Sales'].sum()
top_5_cities.sort_values(ascending=False).head(5)

City
 San Francisco    8262203.91
 Los Angeles      5452570.80
 New York City    4664317.43
 Boston           3661642.01
 Atlanta          2795498.58
Name: Sales, dtype: float64

In [26]:
# How to find the top 5 hours by total sales?
top_5_hours = df.groupby('hour')['Sales'].sum()
top_5_hours.sort_values(ascending=False).head(5)

hour
19    2412938.54
12    2316821.34
11    2300610.24
20    2281716.24
18    2219348.30
Name: Sales, dtype: float64

In [27]:
# How to find the bottom 5 products by total sales?
bottom_5_product = df.groupby('Product')['Sales'].sum()
bottom_5_product.sort_values().head(5)

Product
AAA Batteries (4-pack)       92740.83
AA Batteries (4-pack)       106118.40
Wired Headphones            246478.43
USB-C Charging Cable        286501.25
Lightning Charging Cable    347094.15
Name: Sales, dtype: float64

In [28]:
# How to find the bottom 5 cities by total sales?
bottom_5_cities = df.groupby('City')['Sales'].sum()
bottom_5_cities.sort_values().head(5)

City
 Austin      1819581.75
 Portland    2320490.61
 Seattle     2747755.48
 Dallas      2767975.40
 Atlanta     2795498.58
Name: Sales, dtype: float64

In [29]:
# How to find the bottom 5 hours by total sales?
bottom_5_hours = df.groupby('hour')['Sales'].sum()
bottom_5_hours.sort_values().head(5)

hour
3    145757.89
4    162661.01
5    230679.82
2    234851.44
6    448113.00
Name: Sales, dtype: float64

In [34]:
# How to find the most frequently ordered product?
most_frequently_orderd_product = df.groupby(['Product'])['Quantity Ordered'].sum()
most_frequently_orderd_product.sort_values(ascending=False).head(5)

Product
AAA Batteries (4-pack)      31017
AA Batteries (4-pack)       27635
USB-C Charging Cable        23975
Lightning Charging Cable    23217
Wired Headphones            20557
Name: Quantity Ordered, dtype: int64

In [35]:
# How to find the least frequently ordered product?
least_frequently_orderd_product = df.groupby(['Product'])['Quantity Ordered'].sum()
least_frequently_orderd_product.sort_values().head(5)

Product
LG Dryer               646
LG Washing Machine     666
Vareebadd Phone       2068
20in Monitor          4129
ThinkPad Laptop       4130
Name: Quantity Ordered, dtype: int64

In [41]:
# How to find the average order size (total sales divided by number of orders) for each city?
avg_order_size = df.groupby('City')['Sales'].mean()
avg_order_size.sort_values(ascending=False).head(5)

City
 Atlanta          187.856903
 New York City    187.502711
 Dallas           186.772969
 Seattle          186.516120
 Portland         186.160498
Name: Sales, dtype: float64

In [53]:
# How to calculate the percentage contribution of each product to total sales?
total_sales_per_product = df.groupby('Product')['Sales'].sum()
total_sales_of_all_product = total_sales_per_product.sum()



perc_contribution_product = ( total_sales_per_product/ total_sales_of_all_product)*100
perc_contribution_product

Product
20in Monitor                   1.316677
27in 4K Gaming Monitor         7.059884
27in FHD Monitor               3.283148
34in Ultrawide Monitor         6.829281
AA Batteries (4-pack)          0.307661
AAA Batteries (4-pack)         0.268876
Apple Airpods Headphones       6.810703
Bose SoundSport Headphones     3.901090
Flatscreen TV                  4.191402
Google Phone                   9.623091
LG Dryer                       1.123738
LG Washing Machine             1.158528
Lightning Charging Cable       1.006302
Macbook Pro Laptop            23.302771
ThinkPad Laptop               11.973659
USB-C Charging Cable           0.830630
Vareebadd Phone                2.398235
Wired Headphones               0.714595
iPhone                        13.899730
Name: Sales, dtype: float64

In [56]:
# How to calculate the percentage contribution of each city to total sales?
total_sales_per_city = df.groupby('City')['Sales'].sum()
total_sales = total_sales_per_city.sum()

perc_contribution_city = (total_sales_per_city / total_sales) *100
perc_contribution_city

City
 Atlanta           8.104765
 Austin            5.275368
 Boston           10.615906
 Dallas            8.024970
 Los Angeles      15.808202
 New York City    13.522882
 Portland          6.727613
 San Francisco    23.953947
 Seattle           7.966348
Name: Sales, dtype: float64

In [57]:
# How to calculate the percentage contribution of each month to total sales?
total_sales_per_month = df.groupby('Month')['Sales'].sum()
total_sales_of_all_monts = total_sales_per_month.sum()

perc_contribution_month = (total_sales_per_month / total_sales_of_all_monts) *100
perc_contribution_month

Month
1      5.283123
2      6.384147
3      8.138402
4      9.830299
5      9.140100
6      7.473616
7      7.676484
8      6.507206
9      6.081288
10    10.833593
11     9.276354
12    13.375387
Name: Sales, dtype: float64

In [60]:
# How to calculate the percentage contribution of each hour to total sales?
total_sales_per_hour = df.groupby('hour')['Sales'].sum()
total_sales_of_all_hours = total_sales_per_hour.sum()

perc_contribution_hour = (total_sales_per_hour / total_sales_of_all_hours) *100
perc_contribution_hour

hour
0     2.069235
1     1.336154
2     0.680886
3     0.422584
4     0.471590
5     0.668792
6     1.299178
7     2.159496
8     3.456882
9     4.751910
10    5.636915
11    6.669975
12    6.716975
13    6.248949
14    6.041026
15    5.628979
16    5.521858
17    6.173488
18    6.434379
19    6.995640
20    6.615197
21    5.920210
22    4.660639
23    3.419063
Name: Sales, dtype: float64

In [67]:
# How to find the most common order size (quantity ordered)?
most_common = df['Quantity Ordered'].value_counts()
most_common = most_common.idxmax()
most_common

1

In [68]:
# How to find the most common order value (sales)?
most_common_order_value = df['Sales'].value_counts()
most_common_order_value = most_common_order_value.idxmax()
most_common_order_value

14.95

In [69]:
# How to calculate the cumulative sales over time?
cumulative_sales = df['Sales']
cumulative_sales.cumsum()

0         1.700000e+03
1         2.300000e+03
2         2.311950e+03
3         2.461940e+03
4         2.473890e+03
              ...
185945    3.449186e+07
185946    3.449201e+07
185947    3.449202e+07
185948    3.449203e+07
185949    3.449204e+07
Name: Sales, Length: 185950, dtype: float64

In [73]:
# How to find the days with the highest total sales?
highest_sales = df.groupby('day')['Sales'].sum()
highest_sales.sort_values(ascending=False).head(10)

day
9     1169250.43
10    1169108.73
25    1168818.59
11    1167958.49
1     1166319.25
18    1164031.55
4     1163857.72
6     1151956.09
20    1144375.47
26    1140443.29
Name: Sales, dtype: float64

In [110]:
# How to find the days with the lowest total sales?
lowest_sales = df.groupby('day')['Sales'].sum()
lowest_sales.sort_values().head(10)

day
31     655154.11
30    1039792.44
3     1074432.90
29    1083998.76
23    1089639.44
7     1094796.63
19    1099070.98
16    1099405.88
8     1107963.49
12    1109134.18
Name: Sales, dtype: float64

In [115]:
# How to find the products that generated the most revenue in each city?
city_product_sales = df.groupby(['City', 'Product'])['Sales'].sum()
# most_revenue_product_per_city = city_product_sales.loc[city_product_sales.groupby('City')['Sales'].idxmax()]

In [113]:
# How to calculate the year-over-year growth in total sales for each month?
yearly_sales = df.groupby('year')['Sales'].sum()
yearly_sales

year
2019    34483365.68
2020        8670.29
Name: Sales, dtype: float64

In [100]:
YOY = (yearly_sales[2020] - yearly_sales[2019]) / yearly_sales[2019] * 100
YOY

-99.97485660164249

In [1]:
# How to calculate the month-over-month growth in total sales?
# monthly_sales = df.groupby('Month')['Sales'].sum()
# monthly_sales = monthly_sales.sort_values(by=['Month'])
# MOM = monthly_sales['Sales'].pct_change() * 100
# MOM